*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background-color:darkgrey;
}

.container{
    width: 400px;
    padding: 25px 35px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    background: #fff;
    border-radius: 10px;
}

.container p{
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 8px;
}

.container p span{
    color: #494eea;
}

.container button{
    width: 100%;
    height: 50px;
    background-color:  #494eea;
    outline: 0;
    color:#fff;
    border: 0;
    border-radius: 5px;
    margin: 20px 0;
    cursor: pointer;
    font-weight: 500;
}
